.body {
    background-color: white;
}
.navbar-nav > li > a, .navbar-brand {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2px 15px;
    position: relative;
    display: block;
}
.navbar-nav {
    margin-top: 8px;
}
.navbar {
    position:relative;
    min-height: 48px;
    background-color: white;
    margin-bottom: 2px;
}
.navbar-header {
    position:absolute;
    width: 100%;
    min-height: 44px;
}
.navbar-header > ul > li {
    list-style:none;
    padding-right: 10px;
}
.navbar-header > ul > li > a {
    border: none;
}
.alert {
    padding: 6px;
    margin-bottom: 2px;
}
.alert-wrap {
    margin-bottom: 18px;
}
.biblio-image {
    text-align: center;
}
.biblio-image > image {
    border: 1px;
}
.biblio-image > p {
    font-size: 9px;
}
.navbar-center > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar-center > p {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

