{% extends "base.html" %}

{% block title %}プロファイル{% endblock title %}

{% block content %}
<div class="row">
<div class="col-md-9">

  <h2>詳細情報</h2>
  <table class="table">
      <tbody>
        <tr>
          <td>名前</td>
          <td>{{ u }}</td>
        </tr>

      </tbody>
  </table>
</div>
<div class="col-md-3">

</div>
</div>
{% endblock content %}